# ======================
# PYTHON / DJANGO
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
db.sqlite3

# ======================
# ENVIRONMENT / SECRETS
# ======================
.env
*.env
.venv/
venv/
env/
# ======================
# IDE / EDITOR
# ======================
.idea/
.vscode/
*.iml

# ======================
# ML FILES / DATASETS
# ======================
*.pkl
*.joblib
*.csv
training_dataset.csv

# ======================
# LOGS / TEMP
# ======================
*.log
*.tmp

# ======================
# DO NOT IGNORE YOUR PROJECT FILES
# ======================
!/backend/
!/api/
!/manage.py