apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-deployment
  labels:
    app: django
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
        - name: django-container
          image: zouari123/django-backend:latest
          imagePullPolicy: IfNotPresent
          command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
          ports:
            - containerPort: 8000
          volumeMounts:
            - name: code
              mountPath: /app
      volumes:
        - name: code
          hostPath:
            path: /path/to/your/project
            type: Directory
